.kettu_white_fur_l, .kettu_white_fur_r{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw_white_shapes 15s linear alternate;
    animation-fill-mode: forwards;
    animation-delay: -1500ms;
    -webkit-animation: draw_white_shapes 15s linear alternate;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: -1500ms;
}

#mouth_vert_line,  #mouth_detail_right, #mouth_detail_left {
    animation: filling2 4s linear;
}

#eye_shape_right, #eye_shape_left, #eye_circle_right, #chick_right, #chick_left, #eye_circle_left, #nose, #mouth, #ear_outer_right, #ear_inner_right, #ear_outer_left, #ear_inner_left, #head_fur{
    animation: filling 4s linear;
}


@keyframes filling {
0% {fill-opacity:0.0}
20% {fill-opacity:0.2}
40% {fill-opacity:0.4}
50% {fill-opacity:0.5}
100% {fill-opacity:1.0}
}

@keyframes filling2 {
    0% {fill-opacity:0.0}
    50% {fill-opacity:0.0}
    60% {fill-opacity:0.0}
    70% {fill-opacity:0.2}
    80% {fill-opacity:0.4}
    90% {fill-opacity:0.5}
    100% {fill-opacity:1.0}
    }