<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div id="content">
            <div class="header"><h1 class="title">{{ .Title }}</h1></div>

            {{- partial "sidebar.html" . -}}


            <div class="container">
                <button class="btn float-end kettu_btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                    <i data-feather="menu"></i>
                </button>
            
            <div class="row">
                {{ range .Pages.ByPublishDate.Reverse }}
           <div class="col-sm-6 mb-4">
                <div class="card" style="width: 18rem;">
                  <img src="{{ with .Params.thumbnail }}{{ . }}{{ end }}" class="card-img-top" alt="{{ .Title }}">
                  <div class="card-body">
                      <h5 class="card-title">{{ .Title }}</h5>
                      <p class="card-text">{{ .Summary }}</p>
                      <p><small class="text-muted">{{ partial "metadata.html" . }}</small></p>
                      <a href="{{ .RelPermalink }}" class="btn btn-dark">{{ $.Site.Params.read_more }}</a>
                  </div>
                </div>
                
              </div>
              {{ end }}
        </div>
        </div>
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "script.html" . -}}
    </body>
</html>
